# Dependencies
node_modules

# Build output
dist
out

# Tauri build artifacts
src-tauri/target
src-tauri/gen

# OS files
.DS_Store
*.log*
temp

# Python
venv
__pycache__
backend/build
backend/dist
backend/src/config
backend/src/downloads
backend/src/core/downloads

# App data
sonosano_data

# IDE
.kilocode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?